.game-profile-section {
  display: flex;
  margin: 6px 8px 2px;
  width: calc(100% - 16px);
  max-width: 440px;
  z-index: 3;
  overflow: visible;
}

.game-profile-section-container {
  padding: 0 4px;
  width: 50%;
  overflow: visible;
}
